*{
    font-family: Roboto,  sans-serif;
    margin: 0;
    padding: 0;
}
.Heading{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 45px;
    width: 100%;
    padding: 10px 20px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */

}
.Heading-left{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 95px;
    gap: 10px;

}
.Heading-left input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 10px;
    font-weight: 200;
}

.input{
    height: 15px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.Heading-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 95px;
    gap: 30px;
}
.Heading-right p{
    font-size: 14px;
}

.sign-in{
    color: rgb(255,255,255);
    background-color: rgb(248, 68, 100);
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
    
}

.nav-bar{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
    font-weight: 400;
    width: 100%;
    height:35px;
    background-color: rgb(245,245,245);
    

}


.nav-bar-left,
.nav-bar-right{
    display: flex;
    gap: 20px;
}
.nav-bar-left{
    white-space: nowrap;
    justify-content: flex-start;
    padding-left: 105px;
}
.nav-bar-right{
    padding-right: 60px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 13px;
    transition: 0.3s;
    
}
.movie-content{
    background-image: url("./chaava_final_poster\ \(1\).jpg");
    position: relative;
    height: 475px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
   
    z-index: 0;
}
.movie-content::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 30%; 
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0)); 
    z-index: 1; 
}

